<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h2>Calories Tracker -- A sample webapp built on Spring Boot and React</h2>

<div sec:authorize="isAnonymous()">
    <a th:href="@{/login}">Log in</a>
</div>
<div sec:authorize="isAuthenticated()">
    Hello <span sec:authentication="name">someone</span>
    <form th:action="@{/logout}" method="post"><input type="submit" value="Sign Out"/></form>
</div>


</body>
</html>